openapi: 3.0.1
info:
  contact:
    email: contact@mailslurp.dev
    url: https://www.mailslurp.com/contact/
  description: |-
    MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.

    ## Resources

    - [Homepage](https://www.mailslurp.com)
    - Get an [API KEY](https://app.mailslurp.com/sign-up/)
    - Generated [SDK Clients](https://docs.mailslurp.com/)
    - [Examples](https://github.com/mailslurp/examples) repository
  license:
    name: Apache 2.0
    url: https://www.mailslurp.com
  title: MailSlurp API
  version: 6.5.2
externalDocs:
  description: MailSlurp API documentation
  url: https://www.mailslurp.com
servers:
- description: MailSlurp API Server
  url: https://csharp.api.mailslurp.com
security:
- API_KEY: []
tags:
- description: "\"Endpoints for creating, listing, and deleting email aliases. Aliases\
    \ must be validated. Email aliases can be used to hide real email addresses behind\
    \ an alias. If you wish to receive emails with an alias attach an inbox to the\
    \ alias.\n       Whenever the inbox receives an email the email will be forwarded\
    \ to the alias email address. See related `threads`. Threads can be used with\
    \ aliases to enable replying to a proxied email. This means that when threads\
    \ are enabled an email alias will \n       create a new email thread for the message\
    \ and set the replyTo and from headers on the subsequently proxied email to point\
    \ to the threads unique email address. \n       By replying to this address the\
    \ thread will forward it to the original emails sender or replyTo and use the\
    \ same subject and bcc and cc contacts as the email you are replying to. For more\
    \ advanced email operations using aliases use the inboxId for the given alias.\n"
  name: AliasController
- description: "Endpoints for managing email entities. Send and read email using the\
    \ email API. You can fetch emails and attachments, reply to emails, and send new\
    \ emails with this controller. Emails belong to inboxes. \nEach inbox can contain\
    \ unlimited emails that are either permanent or temporary depending on your setup.\
    \ Because emails can be quite large when attachments and content are fetched most\
    \ responses only include a preview of the email and its most important features,\
    \ like subject, recipients etc and an ID. Many list results are in a paginated\
    \ form using an index (zero based) and a page size. To receive email decide on\
    \ either `waitFor` methods (such as `waitForLatestEmail` on the `WaitForController`)\
    \ to wait for emails to arrive. Use `getEmails` on `EmailController` or `getInboxEmails`\
    \ on the `InboxController` to list existing emails. To access the body or attachments\
    \ of an email you need to use the `getEmail` and `getAttachment` endpoints with\
    \ specific inbox and email IDs. The body is returned on full email entities and\
    \ contains the parsed body of the email. The email headers (such as recipients,\
    \ subject etc.) are stored on the email object. You can access the RAW SMTP message\
    \ via various `raw` methods. Attachments are treated as separate entities that\
    \ have an ID and belong to the email. To fetch email attachments first fetch the\
    \ full email then use a `downloadAttachment` method for each `attachmentID`. Attachments\
    \ are transferred in a number of ways as either `application/octect-stream` byte\
    \ arrays or as base64 encoded strings with meta data. You may prefer either depending\
    \ on the environment you are in but the base64 implementations are typically safer.\
    \ See the `AttachmentController`, `InboxController`, and `WaitForController` for\
    \ similar methods. \n    "
  name: EmailController
- description: Form controller for submitting email-able forms
  name: FormController
- description: Endpoints for managing double opt-in consent for sending promotional
    material to external email accounts.
  name: ConsentController
- description: |
    Endpoints for creating and managing inbox rulesets. Inbox rulesets are sets of rules that can be automatically applied to inbound and outbound emails for an inbox. Rulesets can have a scope, action, and target. The scope is receiving or sending emails. The action is to block, allow, or forward an email. The target is pattern or email address depending on the action. The handler can be used to handle rules silently or trigger an exception when they occur. See inbox controller for similar methods.
  name: RulesetController
- description: Endpoints for viewing sent email receipts. These can be used to verify
    that an email has been sent or for historical records. Email content and attachments
    are stored. For legacy reasons the default send endpoint does not return a sent
    email. Use the `sendEmailAndConfirm` methods to receive a sent email receipt after
    sending.
  name: SentEmailsController
- description: |
    "Endpoints for managing guest portals and customer access to shareable email accounts. Use portals to grant your customers access to unique email accounts with a separate login and viewing endpoint.
  name: GuestPortalController
- description: Endpoints for creating and managing inbox repliers. Repliers can automatically
    reply to emails received by inboxes using rules.
  name: InboxReplierController
- description: View and manage expired inbox records. If an inbox has an expiration
    date when it is created it will expire at that time and an ExpiredInboxRecord
    will be created for it listing the email address and inbox ID. You can still view
    emails belonging to the inbox by using the inbox ID but the inbox can no longer
    send or receive emails once expired.
  name: ExpiredController
- description: Other endpoints including advanced receive options
  name: BulkActionsController
- description: Endpoints for managing inbox connectors that can sync external emails
    in MailSlurp inboxes
  name: ConnectorController
- description: Create and manage deliverability/load tests for inboxes or phone numbers.
    Tests evaluate expected inbound email/SMS counts over time and support polling
    for progress and paged entity-level results.
  name: DeliverabilityTestController
- description: Endpoints for managing contacts. Contacts can be used for sending emails
    to individuals and groups.
  name: ContactController
- description: Endpoints for managing groups. Groups can be used for sending emails
    to individuals and groups.
  name: GroupController
- description: Endpoints for miscellaneous tools.
  name: ToolsController
- description: "Endpoints for creating and managing inboxes. Also includes endpoints\
    \ for listing emails within inboxes. \nInboxes are a core feature of MailSlurp.\
    \ Each inbox has a unique ID and emailAddress. If your plan allows custom domains\
    \ you can create inboxes with custom addresses that end in your domain. \nBy default\
    \ inboxes are assigned a random email address ending in `@mailslurp.biz`. Use\
    \ the domainPool options to use a randomly selected domain from a pool of available\
    \ domains. Whenever you create an inbox MailSlurp will register the address and\
    \ store any emails sent to the address within your inbox. \nYou can use the `InboxController`\
    \ endpoints to list the emails in an inbox. To get the contents or attachments\
    \ of an email use the ID returned from `InboxController` methods to call the `EmailController`\
    \ endpoints.\"\n"
  name: InboxController
- description: Multi-factor authentication (MFA) endpoints for MailSlurp. For controlling
    virtual TOTP devices..
  name: MFAController
- description: Endpoints for managing phone numbers and addresses
  externalDocs:
    description: Phone number documentation
    url: https://docs.mailslurp.com/txt-sms/
  name: PhoneController
- description: Endpoints for managing custom domains. Once you create a custom domain
    you must add the returned verification records to your hosting provider. See support
    or guides for more information.
  name: DomainController
- description: Endpoints for managing tracking entities such as email open and read
    tracking pixels.
  name: TrackingController
- description: "Endpoints for receiving emails using waitFor methods. The endpoints\
    \ are perfect for synchronous blocking calls, long-polling, or tests (see webhooks\
    \ if you need to respond to email events as they happen using HTTP notification).\
    \ These wait endpoints are all built around a common idea - that you ask for an\
    \ expected number of emails from an inbox and MailSlurp will either: A) Return\
    \ the matching emails if they are present; B) Hold a connection open until the\
    \ matching emails are are received or until a timeout occurs. For test suites\
    \ we recommend that you create a new inbox for each test run  and use the waitForLatestEmail\
    \ to hold the connection until the email you expect arrives. Note if your inbox\
    \ is not already empty waitFor methods may return immediately depending on their\
    \ implementation. See each endpoint for more details."
  name: WaitForController
- description: Endpoints for creating and managing inbox forwarders. Automatically
    forward emails received by inboxes using rules.
  name: InboxForwarderController
- description: Endpoints for managing MissedEmails. Missed emails are saved whenever
    your account cannot persist a received email because your plan had exceeded a
    given usage at the time. Missed emails can be restored with the assistance of
    the support team.
  name: MissedEmailController
- description: A collection of common actions. Groups together several controllers
    behind a facade with convenience methods. Not recommended. It is better in most
    cases to call the individual controllers directly as they are where many new features
    are added. The controllers are better documented too. This controller is maintained
    for backwards compatibility.
  name: CommonActionsController
- description: "Persist and inspect one-shot email audits that combine validation,\
    \ compatibility, links, and images."
  name: EmailAuditController
- description: Endpoints for performing IMAP like commands on inboxes
  name: ImapController
- description: "Create recipient probes for campaign QA, ingest sends asynchronously\
    \ via SES monitor, and inspect health trends over time."
  name: CampaignProbeController
- description: Create and manage async device preview render jobs for received emails
    using ESP service.
  name: DevicePreviewsController
- description: Endpoints for managing missed SMS. Missed SMS records are created when
    inbound SMS cannot be persisted after receipt.
  name: MissedSmsController
- description: "Endpoints for exporting user data to CSV, XML and other formats."
  name: ExportController
- description: Endpoints for managing SMS
  name: SmsController
- description: Endpoints for managing Templates. Templates can be used when sending
    emails and support moustache syntax template variables. Variables can be passed
    with send email options or implicitly available if Contact Groups are used.
  name: TemplateController
- description: "Endpoints for uploading attachments. Attachments can be uploaded in\
    \ a number of ways: as base64 encoded strings, as byte array octet streams, and\
    \ as multipart form requests. Each upload method returns an array whose first\
    \ element is the ID of the attachment. Use this Id to send the attachment with\
    \ emails. See the EmailController `download` endpoints for downloading attachments.\
    \ Attachment downloads are based on the email ID they belong to and can be downloaded\
    \ using the email controller."
  name: AttachmentController
- description: Endpoints for access to bounced emails and bounced recipients
  name: BounceController
- description: "Continuously monitor domain deliverability posture with direct run-now,\
    \ scheduled execution, insights, and trend analytics."
  name: DomainMonitorController
- description: "Endpoint for interacting with webhooks. Webhooks have a URL that points\
    \ to your server. Useful for email forwarding, email API processing and more.\
    \ They can be added to inboxes and when an inbox receives an email the email ID\
    \ and inbox ID will be posted to the URL endpoint at your server. The schema of\
    \ the webhook payload is available at https://csharp.api.mailslurp.com/schemas/webhook-payload\
    \ or by calling https://csharp.api.mailslurp.com/webhooks/test. Use webhooks to\
    \ react in real-time to inbound emails. Use the webhook payload posted to your\
    \ server to fetch the full emails or attachments if you need them. Use the event\
    \ ID as an idempotent record. The ID identifies the webhook payload uniquely.\
    \ MailSlurp tracks webhook processing. It will try not to send the same event\
    \ twice but it can happen. If you receive the same event more than once you can\
    \ ignore it and assume it is the same. It is recommended that you use a store\
    \ or database to track webhooks you have processed to avoid processing events\
    \ more than once."
  name: WebhookController
- description: "AI endpoints for generating structured content, automations, and analyzing\
    \ emails and SMS."
  name: AIController
paths:
  /webhooks/{webhookId}/headers:
    put:
      operationId: updateWebhookHeaders
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookHeaders'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: OK
      summary: Update a webhook request headers
      tags:
      - WebhookController
  /templates/{templateId}:
    delete:
      description: Delete template
      operationId: deleteTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete email template
      tags:
      - TemplateController
    get:
      description: Get email template
      operationId: getTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: OK
      summary: Get template
      tags:
      - TemplateController
    put:
      description: Update email template
      operationId: updateTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: Created
      summary: Update template
      tags:
      - TemplateController
  /sms/{smsId}/favourite:
    put:
      operationId: setSmsFavourited
      parameters:
      - description: ID of SMS to set favourite state
        explode: false
        in: path
        name: smsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: favourited
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmsDto'
          description: No Content
      tags:
      - SmsController
  /rulesets:
    delete:
      description: Delete rulesets. Accepts optional inboxId or phoneId filters.
      operationId: deleteRulesets
      parameters:
      - description: Optional inbox id to attach ruleset to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: phoneId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete rulesets
      tags:
      - RulesetController
    get:
      description: List all rulesets attached to an inbox or phone or account
      operationId: getRulesets
      parameters:
      - description: Optional inbox id to get rulesets from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional phone id to get rulesets from
        explode: true
        in: query
        name: phoneId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional page index in inbox ruleset list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox ruleset list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageRulesetDto'
          description: OK
      summary: List rulesets block and allow lists
      tags:
      - RulesetController
    patch:
      description: Test new ruleset
      operationId: testNewRuleset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestNewInboxRulesetOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test new ruleset
      tags:
      - RulesetController
    post:
      description: "Create a new inbox or phone number rule for forwarding, blocking,\
        \ and allowing emails or SMS when sending and receiving"
      operationId: createNewRuleset
      parameters:
      - description: Inbox id to attach ruleset to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Phone id to attach ruleset to
        explode: true
        in: query
        name: phoneId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRulesetOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RulesetDto'
          description: OK
      summary: Create a ruleset
      tags:
      - RulesetController
    put:
      description: Test inbox rulesets for inbox
      operationId: testInboxRulesetsForInbox
      parameters:
      - description: ID of inbox
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RulesetTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test inbox rulesets for inbox
      tags:
      - RulesetController
  /repliers/{id}:
    delete:
      description: Delete inbox replier
      operationId: deleteInboxReplier
      parameters:
      - description: ID of inbox replier
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an inbox replier
      tags:
      - InboxReplierController
    get:
      description: Get inbox ruleset
      operationId: getInboxReplier
      parameters:
      - description: ID of inbox replier
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxReplierDto'
          description: OK
      summary: Get an inbox replier
      tags:
      - InboxReplierController
    put:
      description: Update inbox ruleset
      operationId: updateInboxReplier
      parameters:
      - description: ID of inbox replier
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInboxReplierOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxReplierDto'
          description: OK
      summary: Update an inbox replier
      tags:
      - InboxReplierController
  /phone/pools/{poolId}:
    delete:
      description: Delete a phone pool and release any active leases from that pool
      operationId: deletePhonePool
      parameters:
      - explode: false
        in: path
        name: poolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete phone pool
      tags:
      - PhoneController
    get:
      description: Get phone pool details by ID
      operationId: getPhonePool
      parameters:
      - explode: false
        in: path
        name: poolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhonePoolDetailDto'
          description: OK
      summary: Get phone pool
      tags:
      - PhoneController
    put:
      description: Update phone pool metadata such as name or description
      operationId: updatePhonePool
      parameters:
      - explode: false
        in: path
        name: poolId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhonePoolOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhonePoolDetailDto'
          description: OK
      summary: Update phone pool
      tags:
      - PhoneController
  /phone/numbers/{phoneNumberId}:
    delete:
      description: Remove phone number from account
      operationId: deletePhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete a phone number
      tags:
      - PhoneController
    get:
      description: Get a phone number by ID
      operationId: getPhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Get a phone number by ID
      tags:
      - PhoneController
    put:
      description: Set field for phone number
      operationId: updatePhoneNumber
      parameters:
      - description: ID of phone to set favourite state
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Update a phone number
      tags:
      - PhoneController
  /phone/numbers/{phoneNumberId}/tags:
    delete:
      description: Remove one or more tags from a phone number
      operationId: removePhoneNumberTags
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberTagsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Remove phone number tags
      tags:
      - PhoneController
    get:
      description: Get tags for a specific phone number
      operationId: getPhoneNumberTags
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Get phone number tags
      tags:
      - PhoneController
    post:
      description: Add one or more tags to a phone number
      operationId: addPhoneNumberTags
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberTagsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Add phone number tags
      tags:
      - PhoneController
    put:
      description: Replace all tags on a phone number
      operationId: setPhoneNumberTags
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberTagsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Set phone number tags
      tags:
      - PhoneController
  /phone/numbers/{phoneNumberId}/favourite:
    put:
      description: Set and return new favorite state for a phone
      operationId: setPhoneFavourited
      parameters:
      - description: ID of phone to set favourite state
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPhoneFavouritedOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Set phone favourited state
      tags:
      - PhoneController
  /inboxes/{inboxId}/favourite:
    put:
      description: Set and return new favorite state for an inbox
      operationId: setInboxFavourited
      parameters:
      - description: ID of inbox to set favourite state
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetInboxFavouritedOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: OK
      summary: Set inbox favourited state
      tags:
      - InboxController
  /groups/{groupId}/contacts:
    delete:
      operationId: removeContactsFromGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupContacts'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Remove contacts from a group
      tags:
      - GroupController
    get:
      operationId: getGroupWithContacts
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Get group and contacts belonging to it
      tags:
      - GroupController
    put:
      operationId: addContactsToGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupContacts'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Add contacts to a group
      tags:
      - GroupController
  /forwarders:
    delete:
      description: Delete inbox forwarders. Accepts optional inboxId filter.
      operationId: deleteInboxForwarders
      parameters:
      - description: Optional inbox id to attach forwarder to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete inbox forwarders
      tags:
      - InboxForwarderController
    get:
      description: List all forwarders attached to an inbox
      operationId: getInboxForwarders
      parameters:
      - description: Optional inbox id to get forwarders from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional page index in inbox forwarder list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox forwarder list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageInboxForwarderDto'
          description: OK
      summary: List inbox forwarders
      tags:
      - InboxForwarderController
    patch:
      description: Test new inbox forwarder
      operationId: testNewInboxForwarder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestNewInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderTestResult'
          description: OK
      summary: Test new inbox forwarder
      tags:
      - InboxForwarderController
    post:
      description: "Create a new inbox rule for forwarding, blocking, and allowing\
        \ emails when sending and receiving"
      operationId: createNewInboxForwarder
      parameters:
      - description: Inbox id to attach forwarder to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderDto'
          description: OK
      summary: Create an inbox forwarder
      tags:
      - InboxForwarderController
    put:
      description: Test inbox forwarders for inbox
      operationId: testInboxForwardersForInbox
      parameters:
      - description: ID of inbox
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxForwarderTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderTestResult'
          description: OK
      summary: Test inbox forwarders for inbox
      tags:
      - InboxForwarderController
  /forwarders/{id}:
    delete:
      description: Delete inbox forwarder
      operationId: deleteInboxForwarder
      parameters:
      - description: ID of inbox forwarder
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an inbox forwarder
      tags:
      - InboxForwarderController
    get:
      description: Get inbox forwarder
      operationId: getInboxForwarder
      parameters:
      - description: ID of inbox forwarder
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderDto'
          description: OK
      summary: Get an inbox forwarder
      tags:
      - InboxForwarderController
    put:
      description: Update inbox forwarder
      operationId: updateInboxForwarder
      parameters:
      - description: ID of inbox forwarder
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderDto'
          description: OK
      summary: Update an inbox forwarder
      tags:
      - InboxForwarderController
  /emails/{emailId}:
    delete:
      description: Deletes a single email from account scope. Operation is destructive
        and not reversible.
      operationId: deleteEmail
      parameters:
      - description: ID of email to delete
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an email
      tags:
      - EmailController
    get:
      description: Returns parsed email content including headers and body fields.
        Accessing hydrated content may mark the email as read depending on read-state
        rules.
      operationId: getEmail
      parameters:
      - explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
            application/xml;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
            application/xml; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
      summary: Get hydrated email (headers and body)
      tags:
      - EmailController
    put:
      description: Sends a reply using the original conversation context (subject/thread
        headers). Reply target resolution honors sender/reply-to semantics.
      operationId: replyToEmail
      parameters:
      - description: ID of the email that should be replied to
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToEmailOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
      summary: Reply to an email
      tags:
      - EmailController
  /emails/{emailId}/favourite:
    put:
      description: Sets favourite state for an email for dashboard/search workflows.
      operationId: setEmailFavourited
      parameters:
      - description: ID of email to set favourite state
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: favourited
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: No Content
      summary: Set email favourited state
      tags:
      - EmailController
  /emails/{emailId}/device-previews/latest:
    put:
      operationId: ensureDevicePreviewRun
      parameters:
      - explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicePreviewOptions'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateDevicePreviewRunResult'
          description: OK
      summary: Return active run for email or create one when none exists
      tags:
      - DevicePreviewsController
  /emails/device-previews/feedback/{feedbackId}:
    get:
      operationId: getDevicePreviewFeedback
      parameters:
      - explode: false
        in: path
        name: feedbackId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DevicePreviewFeedbackDto'
          description: OK
      summary: Get a single device preview feedback item
      tags:
      - DevicePreviewsController
    put:
      operationId: updateDevicePreviewFeedback
      parameters:
      - explode: false
        in: path
        name: feedbackId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDevicePreviewFeedbackOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DevicePreviewFeedbackDto'
          description: OK
      summary: Update device preview feedback
      tags:
      - DevicePreviewsController
  /domains/{id}:
    delete:
      description: Delete a domain. This will disable any existing inboxes that use
        this domain.
      operationId: deleteDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: No Content
      summary: Delete a domain
      tags:
      - DomainController
    get:
      description: Returns domain verification status and tokens for a given domain
      operationId: getDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: checkForErrors
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
      summary: Get a domain
      tags:
      - DomainController
    put:
      description: Update values on a domain. Note you cannot change the domain name
        as it is immutable. Recreate the domain if you need to alter this.
      operationId: updateDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
      summary: Update a domain
      tags:
      - DomainController
  /domain-monitor/monitors/{monitorId}:
    delete:
      operationId: deleteDomainMonitor
      parameters:
      - explode: false
        in: path
        name: monitorId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete domain monitor
      tags:
      - DomainMonitorController
    get:
      operationId: getDomainMonitor
      parameters:
      - explode: false
        in: path
        name: monitorId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainMonitorDto'
          description: OK
      summary: Get domain monitor
      tags:
      - DomainMonitorController
    put:
      operationId: updateDomainMonitor
      parameters:
      - explode: false
        in: path
        name: monitorId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainMonitorOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainMonitorDto'
          description: OK
      summary: Update domain monitor
      tags:
      - DomainMonitorController
  /connectors/{id}:
    delete:
      operationId: deleteConnector
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an inbox connector
      tags:
      - ConnectorController
    get:
      operationId: getConnector
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConnectorDto'
          description: OK
      summary: Get an inbox connector
      tags:
      - ConnectorController
    put:
      operationId: updateConnector
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConnectorDto'
          description: OK
      summary: Update an inbox connector
      tags:
      - ConnectorController
  /campaign-probe/probes/{probeId}:
    delete:
      operationId: deleteCampaignProbe
      parameters:
      - explode: false
        in: path
        name: probeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete campaign probe
      tags:
      - CampaignProbeController
    get:
      operationId: getCampaignProbe
      parameters:
      - explode: false
        in: path
        name: probeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CampaignProbeDto'
          description: OK
      summary: Get campaign probe
      tags:
      - CampaignProbeController
    put:
      operationId: updateCampaignProbe
      parameters:
      - explode: false
        in: path
        name: probeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignProbeOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CampaignProbeDto'
          description: OK
      summary: Update campaign probe
      tags:
      - CampaignProbeController
  /aliases/{aliasId}:
    delete:
      operationId: deleteAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an email alias
      tags:
      - AliasController
    get:
      description: Get an email alias by ID
      operationId: getAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: OK
      summary: Get an email alias
      tags:
      - AliasController
    put:
      operationId: updateAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAliasOptions'
        required: true
      responses:
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: Accepted
      summary: Update an email alias
      tags:
      - AliasController
  /aliases/{aliasId}/emails/{emailId}:
    put:
      description: "Send the reply to the email sender or reply-to and include same\
        \ subject cc bcc etc. Reply to an email and the contents will be sent with\
        \ the existing subject to the emails `to`, `cc`, and `bcc`."
      operationId: replyToAliasEmail
      parameters:
      - description: ID of the alias that email belongs to
        explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of the email that should be replied to
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToAliasEmailOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
      summary: Reply to an email
      tags:
      - AliasController
  /webhooks:
    delete:
      operationId: deleteAllWebhooks
      parameters:
      - description: before
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete all webhooks
      tags:
      - WebhookController
    post:
      description: Get notified of account level events such as bounce and bounce
        recipient.
      operationId: createAccountWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: Created
      summary: Attach a WebHook URL to an inbox
      tags:
      - WebhookController
  /webhooks/{webhookId}/test:
    post:
      operationId: sendTestData
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookTestResult'
          description: Created
      summary: Send webhook test data
      tags:
      - WebhookController
  /webhooks/{webhookId}/schema:
    post:
      description: Get JSON Schema definition for webhook payload
      operationId: getJsonSchemaForWebhookPayload
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JSONSchemaDto'
          description: OK
      tags:
      - WebhookController
  /webhooks/{webhookId}/example:
    post:
      description: Get example payload for webhook
      operationId: getTestWebhookPayloadForWebhook
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractWebhookPayload'
          description: Created
      tags:
      - WebhookController
  /webhooks/verify:
    post:
      description: Verify a webhook payload using the messageId and signature. This
        allows you to be sure that MailSlurp sent the payload and not another server.
      operationId: verifyWebhookSignature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyWebhookSignatureOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VerifyWebhookSignatureResults'
          description: OK
      summary: Verify a webhook payload signature
      tags:
      - WebhookController
  /webhooks/schema:
    post:
      description: Get JSON Schema definition for webhook payload by event
      operationId: getJsonSchemaForWebhookEvent
      parameters:
      - explode: true
        in: query
        name: event
        required: true
        schema:
          enum:
          - EMAIL_RECEIVED
          - NEW_AI_TRANSFORM_RESULT
          - NEW_EMAIL
          - NEW_CONTACT
          - NEW_ATTACHMENT
          - EMAIL_OPENED
          - EMAIL_READ
          - DELIVERY_STATUS
          - BOUNCE
          - BOUNCE_RECIPIENT
          - NEW_SMS
          - NEW_GUEST_USER
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JSONSchemaDto'
          description: OK
      tags:
      - WebhookController
  /webhooks/results/{webhookResultId}/redrive:
    post:
      description: Allows you to resend a webhook payload that was already sent. Webhooks
        that fail are retried automatically for 24 hours and then put in a dead letter
        queue. You can retry results manually using this method.
      operationId: redriveWebhookResult
      parameters:
      - description: Webhook Result ID
        explode: false
        in: path
        name: webhookResultId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookRedriveResult'
          description: OK
      summary: Get a webhook result and try to resend the original webhook payload
      tags:
      - WebhookController
  /webhooks/results/redrive:
    post:
      description: Allows you to resend webhook payloads for any recorded webhook
        result that failed to deliver the payload.
      operationId: redriveAllWebhookResults
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookRedriveAllResult'
          description: OK
      summary: Redrive all webhook results that have failed status
      tags:
      - WebhookController
  /waitFor:
    post:
      description: Generic waitFor method that will wait until an inbox meets given
        conditions or return immediately if already met
      operationId: waitFor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForConditions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmailPreview'
                type: array
          description: OK
      summary: Wait for an email to match the provided filter conditions such as subject
        contains keyword.
      tags:
      - WaitForController
  /waitForSms:
    post:
      description: Generic waitFor method that will wait until a phone number meets
        given conditions or return immediately if already met
      operationId: waitForSms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForSmsConditions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/SmsPreview'
                type: array
          description: OK
      summary: Wait for an SMS message to match the provided filter conditions such
        as body contains keyword.
      tags:
      - WaitForController
  /waitForMatchingFirstEmail:
    post:
      description: "Perform a search of emails in an inbox with the given patterns.\
        \ If a result if found then return or else retry the search until a result\
        \ is found or timeout is reached. Match options allow simple CONTAINS or EQUALS\
        \ filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions` object\
        \ for options. An example payload is `{ matches: [{field: 'SUBJECT',should:'CONTAIN',value:'needle'}]\
        \ }`. You can use an array of matches and they will be applied sequentially\
        \ to filter out emails. If you want to perform matches and extractions of\
        \ content using Regex patterns see the EmailController `getEmailContentMatch`\
        \ method."
      operationId: waitForMatchingFirstEmail
      parameters:
      - description: Id of the inbox we are matching an email for
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Max milliseconds to wait
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Optional filter for unread only
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter for emails that were received after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter for emails that were received before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Max milliseconds delay between calls
        explode: true
        in: query
        name: delay
        required: false
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
      summary: Wait for or return the first email that matches provided MatchOptions
        array
      tags:
      - WaitForController
  /waitForMatchingEmails:
    post:
      description: "Perform a search of emails in an inbox with the given patterns.\
        \ If results match expected count then return or else retry the search until\
        \ results are found or timeout is reached. Match options allow simple CONTAINS\
        \ or EQUALS filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions`\
        \ object for options. An example payload is `{ matches: [{field: 'SUBJECT',should:'CONTAIN',value:'needle'}]\
        \ }`. You can use an array of matches and they will be applied sequentially\
        \ to filter out emails. If you want to perform matches and extractions of\
        \ content using Regex patterns see the EmailController `getEmailContentMatch`\
        \ method."
      operationId: waitForMatchingEmails
      parameters:
      - description: Id of the inbox we are fetching emails from
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Number of emails to wait for. Must be greater or equal to 1
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Filter for emails that were received before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter for emails that were received after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Max milliseconds delay between calls
        explode: true
        in: query
        name: delay
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Max milliseconds to wait
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Optional filter for unread only
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmailPreview'
                type: array
          description: OK
      summary: Wait or return list of emails that match simple matching patterns
      tags:
      - WaitForController
  /waitForLatestSms:
    post:
      description: Wait until a phone number meets given conditions or return immediately
        if already met
      operationId: waitForLatestSms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForSingleSmsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmsDto'
          description: OK
      summary: Wait for the latest SMS message to match the provided filter conditions
        such as body contains keyword.
      tags:
      - WaitForController
  /user/json/pluck:
    post:
      description: Utility function to extract properties from JSON objects in language
        where this is cumbersome.
      operationId: getJsonPropertyAsString
      parameters:
      - description: JSON property name or dot separated path selector such as `a.b.c`
        explode: true
        in: query
        name: property
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - UserController
  /user/inbox-retention-policies/account:
    delete:
      description: Delete inbox retention policy for your global account
      operationId: deleteInboxRetentionPolicyForAccount
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponseDto'
          description: OK
      tags:
      - UserController
    get:
      description: Get inbox retention policy for your global account
      operationId: getInboxRetentionPolicyForAccount
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRetentionPolicyOptionalDto'
          description: OK
      tags:
      - UserController
    post:
      description: Create inbox retention policy for your global account
      operationId: createOrUpdateInboxRetentionPolicyForAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxRetentionPolicyForAccountOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRetentionPolicyDto'
          description: OK
      tags:
      - UserController
  /tracking/pixels:
    get:
      description: List tracking pixels in paginated form
      operationId: getAllTrackingPixels
      parameters:
      - description: Optional page index in list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageTrackingPixelProjection'
          description: OK
      summary: Get tracking pixels
      tags:
      - TrackingController
    post:
      description: Create a tracking pixel. A tracking pixel is an image that can
        be embedded in an email. When the email is viewed and the image is seen MailSlurp
        will mark the pixel as seen. Use tracking pixels to monitor email open events.
        You can receive open notifications via webhook or by fetching the pixel.
      operationId: createTrackingPixel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrackingPixelOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TrackingPixelDto'
          description: Created
      summary: Create tracking pixel
      tags:
      - TrackingController
  /tools/test-smtp-server:
    post:
      operationId: testSmtpServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestSmtpServerOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TestSmtpServerResults'
          description: OK
      summary: "Run a conservative SMTP connectivity, TLS, and AUTH diagnostic"
      tags:
      - ToolsController
  /tools/lookup-tls-reporting-domain:
    post:
      operationId: lookupTlsReportingDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupTlsReportingDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupTlsReportingDomainResults'
          description: OK
      summary: Lookup a TLS reporting domain policy
      tags:
      - ToolsController
  /tools/lookup-spf-domain:
    post:
      operationId: lookupSpfDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupSpfDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupSpfDomainResults'
          description: OK
      summary: Lookup and validate an SPF record
      tags:
      - ToolsController
  /tools/lookup-ptr:
    post:
      operationId: lookupPtr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupPtrOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupPtrResults'
          description: OK
      summary: Lookup PTR records for an IP address
      tags:
      - ToolsController
  /tools/lookup-mx-records:
    post:
      operationId: lookupMxRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupMxRecordsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupMxRecordsResults'
          description: OK
      summary: Lookup a MX records for a domain
      tags:
      - ToolsController
  /tools/lookup-mta-sts-domain:
    post:
      operationId: lookupMtaStsDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupMtaStsDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupMtaStsDomainResults'
          description: OK
      summary: Lookup a MTA-STS domain policy
      tags:
      - ToolsController
  /tools/lookup-dmarc-domain:
    post:
      operationId: lookupDmarcDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupDmarcDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupDmarcDomainResults'
          description: OK
      summary: Lookup a DMARC record policy
      tags:
      - ToolsController
  /tools/lookup-dkim-domain:
    post:
      operationId: lookupDkimDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupDkimDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupDkimDomainResults'
          description: OK
      summary: Lookup and validate a DKIM record
      tags:
      - ToolsController
  /tools/lookup-bimi-domain:
    post:
      operationId: lookupBimiDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupBimiDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupBimiDomainResults'
          description: OK
      summary: Lookup a BIMI record policy
      tags:
      - ToolsController
  /tools/generate-tls-reporting-record:
    post:
      operationId: generateTlsReportingRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateTlsReportingRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateTlsReportingRecordResults'
          description: OK
      summary: Create a TLS reporting record policy
      tags:
      - ToolsController
  /tools/generate-spf-record:
    post:
      operationId: generateSpfRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSpfRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateSpfRecordResults'
          description: OK
      summary: Create an SPF record
      tags:
      - ToolsController
  /tools/generate-mta-sts-record:
    post:
      operationId: generateMtaStsRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMtaStsRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateMtaStsRecordResults'
          description: OK
      summary: Create a TLS reporting record policy
      tags:
      - ToolsController
  /tools/generate-dmarc-record:
    post:
      operationId: generateDmarcRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDmarcRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateDmarcRecordResults'
          description: OK
      summary: Create a DMARC record policy
      tags:
      - ToolsController
  /tools/generate-bimi-record:
    post:
      operationId: generateBimiRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateBimiRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateBimiRecordResults'
          description: OK
      summary: Create a BIMI record policy
      tags:
      - ToolsController
  /tools/fake-email:
    delete:
      description: Delete a fake email address using the fake email domains
      operationId: deleteNewFakeEmailAddress
      parameters:
      - explode: true
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete a fake email address using the fake email domains
      tags:
      - ToolsController
    get:
      description: Get a fake email by its ID
      operationId: getFakeEmailById
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FakeEmailResult'
          description: OK
      summary: Get a fake email by its ID
      tags:
      - ToolsController
    post:
      operationId: createNewFakeEmailAddress
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NewFakeEmailAddressResult'
          description: OK
      summary: Create a new email address using the fake email domains
      tags:
      - ToolsController
  /tools/check-email-features-client-support:
    post:
      operationId: checkEmailFeaturesClientSupport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckEmailFeaturesClientSupportOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckEmailFeaturesClientSupportResults'
          description: OK
      summary: Check email client support for email HTML and CSS features
      tags:
      - ToolsController
  /tools/check-email-blacklists:
    post:
      operationId: checkEmailBlacklist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckEmailBlacklistOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckEmailBlacklistResults'
          description: OK
      summary: Check whether a domain or IP appears on configured DNS blacklists
      tags:
      - ToolsController
  /tools/check-email-auth-stack:
    post:
      operationId: checkEmailAuthStack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckEmailAuthStackOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckEmailAuthStackResults'
          description: OK
      summary: "Run a one-shot combined SPF, DKIM, DMARC, BIMI, MX, MTA-STS, and TLS-RPT\
        \ check"
      tags:
      - ToolsController
  /tools/check-email-audit:
    post:
      operationId: checkEmailAudit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckEmailAuditOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmailAuditAnalysisResult'
          description: OK
      summary: "Run a one-shot free email audit across links, images, HTML, and client\
        \ support"
      tags:
      - ToolsController
  /tools/check-domain-monitor:
    post:
      operationId: checkDomainMonitor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDomainMonitorOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckDomainMonitorResults'
          description: OK
      summary: Run a one-shot free domain monitor posture check
      tags:
      - ToolsController
  /tools/check-dns-propagation:
    post:
      operationId: checkDnsPropagation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDnsPropagationOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckDnsPropagationResults'
          description: OK
      summary: Check DNS propagation for a host and record type across configured
        resolvers
      tags:
      - ToolsController
  /tools/check-campaign-probe:
    post:
      operationId: checkCampaignProbe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckCampaignProbeOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckCampaignProbeResults'
          description: OK
      summary: Run a one-shot free campaign probe preflight check
      tags:
      - ToolsController
  /tools/analyze-email-headers:
    post:
      operationId: analyzeEmailHeaders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeEmailHeadersOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AnalyzeEmailHeadersResults'
          description: OK
      summary: Analyze email headers for auth results and delivery path
      tags:
      - ToolsController
  /tools/analyze-dmarc-report:
    post:
      operationId: analyzeDmarcReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeDmarcReportOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AnalyzeDmarcReportResults'
          description: OK
      summary: Parse and summarize a DMARC aggregate XML report
      tags:
      - ToolsController
  /test/deliverability:
    get:
      description: List deliverability tests for the authenticated account.
      operationId: getDeliverabilityTests
      parameters:
      - description: Page index
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilityTestPageDto'
          description: OK
      summary: List deliverability/load tests
      tags:
      - DeliverabilityTestController
    post:
      description: "Create a deliverability test for inboxes or phone numbers using\
        \ ALL, PATTERN, or EXPLICIT selector scope."
      operationId: createDeliverabilityTest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeliverabilityTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilityTestDto'
          description: OK
      summary: Create deliverability/load test
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/stop:
    post:
      description: Stop a deliverability test and mark it terminal.
      operationId: stopDeliverabilityTest
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilityTestDto'
          description: OK
      summary: Stop deliverability/load test
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/start:
    post:
      description: Start a CREATED test or resume a PAUSED/SCHEDULED test.
      operationId: startDeliverabilityTest
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilityTestDto'
          description: OK
      summary: Start or resume deliverability/load test
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/simulation-jobs:
    post:
      description: Create and start a simulation job for a running deliverability
        test. Only one active simulation job is allowed per user.
      operationId: createDeliverabilitySimulationJob
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeliverabilitySimulationJobOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilitySimulationJobDto'
          description: OK
      summary: Create deliverability simulation job
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/simulation-jobs/{jobId}/resume:
    post:
      description: Resume a paused simulation job.
      operationId: resumeDeliverabilitySimulationJob
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: jobId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilitySimulationJobDto'
          description: OK
      summary: Resume deliverability simulation job
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/simulation-jobs/{jobId}/pause:
    post:
      description: Pause a running simulation job.
      operationId: pauseDeliverabilitySimulationJob
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: jobId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilitySimulationJobDto'
          description: OK
      summary: Pause deliverability simulation job
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/simulation-jobs/{jobId}/cancel:
    post:
      description: Cancel a running or paused simulation job.
      operationId: cancelDeliverabilitySimulationJob
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: jobId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilitySimulationJobDto'
          description: OK
      summary: Cancel deliverability simulation job
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/pause:
    post:
      description: Pause a RUNNING or SCHEDULED deliverability test.
      operationId: pauseDeliverabilityTest
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilityTestDto'
          description: OK
      summary: Pause deliverability/load test
      tags:
      - DeliverabilityTestController
  /test/deliverability/{testId}/duplicate:
    post:
      description: "Create a fresh deliverability test using an existing test configuration,\
        \ including selector scope, exclusions, and expectations."
      operationId: duplicateDeliverabilityTest
      parameters:
      - explode: false
        in: path
        name: testId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliverabilityTestDto'
          description: OK
      summary: Duplicate deliverability/load test
      tags:
      - DeliverabilityTestController
  /templates:
    get:
      description: Get all templates
      operationId: getTemplates
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/TemplateProjection'
                type: array
          description: OK
      summary: List templates
      tags:
      - TemplateController
    post:
      description: Create an email template with variables for use with templated
        transactional emails.
      operationId: createTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: Created
      summary: Create a Template
      tags:
      - TemplateController
  /sms/{smsId}/reply:
    get:
      description: Get reply for an SMS message.
      operationId: getReplyForSmsMessage
      parameters:
      - explode: false
        in: path
        name: smsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplyForSms'
          description: OK
      summary: Get reply for an SMS message
      tags:
      - SmsController
    post:
      description: Reply to an SMS message.
      operationId: replyToSmsMessage
      parameters:
      - explode: false
        in: path
        name: smsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsReplyOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentSmsDto'
          description: OK
      summary: Send a reply to a received SMS message. Replies are sent from the receiving
        number.
      tags:
      - SmsController
  /sms/{smsId}/codes:
    post:
      description: Extract one-time passcodes and verification tokens from SMS body
        content. Deterministic `PATTERN` extraction is available now. Use method flags
        to control fallback behavior for QA.
      operationId: getSmsCodes
      parameters:
      - description: ID of SMS to extract codes from
        explode: false
        in: path
        name: smsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractCodesOptions'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExtractCodesResult'
          description: OK
      summary: Extract verification codes from an SMS
      tags:
      - SmsController
  /sms/send:
    post:
      operationId: sendSms
      parameters:
      - description: Phone number to send from in E.164 format
        explode: true
        in: query
        name: fromPhoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: Phone number ID to send from in UUID form
        explode: true
        in: query
        name: fromPhoneId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentSmsDto'
          description: OK
      tags:
      - SmsController
  /sendEmail:
    post:
      description: If no senderId or inboxId provided a random email address will
        be used to send from.
      operationId: sendEmailSimple
      requestBody:
        content:
[...]
