openapi: 3.0.1
info:
  contact:
    email: contact@mailslurp.dev
    url: https://www.mailslurp.com/contact/
  description: |-
    MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.

    ## Resources

    - [Homepage](https://www.mailslurp.com)
    - Get an [API KEY](https://app.mailslurp.com/sign-up/)
    - Generated [SDK Clients](https://docs.mailslurp.com/)
    - [Examples](https://github.com/mailslurp/examples) repository
  license:
    name: Apache 2.0
    url: https://www.mailslurp.com
  title: MailSlurp API
  version: 6.5.2
externalDocs:
  description: MailSlurp API documentation
  url: https://www.mailslurp.com
servers:
- description: MailSlurp API Server
  url: https://csharp.api.mailslurp.com
security:
- API_KEY: []
tags:
- description: "\"Endpoints for creating, listing, and deleting email aliases. Aliases\
    \ must be validated. Email aliases can be used to hide real email addresses behind\
    \ an alias. If you wish to receive emails with an alias attach an inbox to the\
    \ alias.\n       Whenever the inbox receives an email the email will be forwarded\
    \ to the alias email address. See related `threads`. Threads can be used with\
    \ aliases to enable replying to a proxied email. This means that when threads\
    \ are enabled an email alias will \n       create a new email thread for the message\
    \ and set the replyTo and from headers on the subsequently proxied email to point\
    \ to the threads unique email address. \n       By replying to this address the\
    \ thread will forward it to the original emails sender or replyTo and use the\
    \ same subject and bcc and cc contacts as the email you are replying to. For more\
    \ advanced email operations using aliases use the inboxId for the given alias.\n"
  name: AliasController
- description: "Endpoints for managing email entities. Send and read email using the\
    \ email API. You can fetch emails and attachments, reply to emails, and send new\
    \ emails with this controller. Emails belong to inboxes. \nEach inbox can contain\
    \ unlimited emails that are either permanent or temporary depending on your setup.\
    \ Because emails can be quite large when attachments and content are fetched most\
    \ responses only include a preview of the email and its most important features,\
    \ like subject, recipients etc and an ID. Many list results are in a paginated\
    \ form using an index (zero based) and a page size. To receive email decide on\
    \ either `waitFor` methods (such as `waitForLatestEmail` on the `WaitForController`)\
    \ to wait for emails to arrive. Use `getEmails` on `EmailController` or `getInboxEmails`\
    \ on the `InboxController` to list existing emails. To access the body or attachments\
    \ of an email you need to use the `getEmail` and `getAttachment` endpoints with\
    \ specific inbox and email IDs. The body is returned on full email entities and\
    \ contains the parsed body of the email. The email headers (such as recipients,\
    \ subject etc.) are stored on the email object. You can access the RAW SMTP message\
    \ via various `raw` methods. Attachments are treated as separate entities that\
    \ have an ID and belong to the email. To fetch email attachments first fetch the\
    \ full email then use a `downloadAttachment` method for each `attachmentID`. Attachments\
    \ are transferred in a number of ways as either `application/octect-stream` byte\
    \ arrays or as base64 encoded strings with meta data. You may prefer either depending\
    \ on the environment you are in but the base64 implementations are typically safer.\
    \ See the `AttachmentController`, `InboxController`, and `WaitForController` for\
    \ similar methods. \n    "
  name: EmailController
- description: Form controller for submitting email-able forms
  name: FormController
- description: Endpoints for managing double opt-in consent for sending promotional
    material to external email accounts.
  name: ConsentController
- description: Endpoints for viewing sent email receipts. These can be used to verify
    that an email has been sent or for historical records. Email content and attachments
    are stored. For legacy reasons the default send endpoint does not return a sent
    email. Use the `sendEmailAndConfirm` methods to receive a sent email receipt after
    sending.
  name: SentEmailsController
- description: |
    "Endpoints for managing guest portals and customer access to shareable email accounts. Use portals to grant your customers access to unique email accounts with a separate login and viewing endpoint.
  name: GuestPortalController
- description: Endpoints for creating and managing inbox repliers. Repliers can automatically
    reply to emails received by inboxes using rules.
  name: InboxReplierController
- description: "Endpoints for creating and managing inboxes. Also includes endpoints\
    \ for listing emails within inboxes. \nInboxes are a core feature of MailSlurp.\
    \ Each inbox has a unique ID and emailAddress. Inboxes can be either `HTTP` or\
    \ `SMTP` inboxes. Both are email inboxes but `HTTP` mailboxes are processed using\
    \ AWS SES while `SMTP` inboxes use a custom mail server listening at `mxslurp.click`.\
    \ Use `HTTP` inboxes for testing and `SMTP` inboxes for public facing inboxes.\
    \ If your plan allows custom domains you can create inboxes with custom addresses\
    \ that end in your domain. \nBy default inboxes are assigned a random email address\
    \ ending in `@mailslurp.com`. Use the domainPool options to use a randomly selected\
    \ domain from a pool of available domains. Whenever you create an inbox MailSlurp\
    \ will register the address and store any emails sent to the address within your\
    \ inbox. \nYou can use the `InboxController` endpoints to list the emails in an\
    \ inbox. To get the contents or attachments of an email use the ID returned from\
    \ `InboxController` methods to call the `EmailController` endpoints.\"\n"
  name: InboxController
- description: View and manage expired inbox records. If an inbox has an expiration
    date when it is created it will expire at that time and an ExpiredInboxRecord
    will be created for it listing the email address and inbox ID. You can still view
    emails belonging to the inbox by using the inbox ID but the inbox can no longer
    send or receive emails once expired.
  name: ExpiredController
- description: Other endpoints including advanced receive options
  name: BulkActionsController
- description: Endpoints for managing inbox connectors that can sync external emails
    in MailSlurp inboxes
  name: ConnectorController
- description: Endpoints for managing contacts. Contacts can be used for sending emails
    to individuals and groups.
  name: ContactController
- description: Endpoints for managing groups. Groups can be used for sending emails
    to individuals and groups.
  name: GroupController
- description: |
    Endpoints for creating and managing inbox rulesets. Inbox rulesets are sets of rules that can be automatically applied to inbound and outbound emails for an inbox. Rulesets can have a scope, action, and target. The scope is receiving or sending emails. The action is to block, allow, or forward an email. The target is pattern or email address depending on the action. The handler can be used to handle rules silently or trigger an exception when they occur. See inbox controller for similar methods.
  name: InboxRulesetController
- description: Endpoints for miscellaneous tools.
  name: ToolsController
- description: Endpoints for managing phone numbers and addresses
  externalDocs:
    description: Phone number documentation
    url: https://docs.mailslurp.com/txt-sms/
  name: PhoneController
- description: Endpoints for managing custom domains. Once you create a custom domain
    you must add the returned verification records to your hosting provider. See support
    or guides for more information.
  name: DomainController
- description: Endpoints for managing tracking entities such as email open and read
    tracking pixels.
  name: TrackingController
- description: "Endpoints for receiving emails using waitFor methods. The endpoints\
    \ are perfect for synchronous blocking calls, long-polling, or tests (see webhooks\
    \ if you need to respond to email events as they happen using HTTP notification).\
    \ These wait endpoints are all built around a common idea - that you ask for an\
    \ expected number of emails from an inbox and MailSlurp will either: A) Return\
    \ the matching emails if they are present; B) Hold a connection open until the\
    \ matching emails are are received or until a timeout occurs. For test suites\
    \ we recommend that you create a new inbox for each test run  and use the waitForLatestEmail\
    \ to hold the connection until the email you expect arrives. Note if your inbox\
    \ is not already empty waitFor methods may return immediately depending on their\
    \ implementation. See each endpoint for more details."
  name: WaitForController
- description: Endpoints for creating and managing inbox forwarders. Automatically
    forward emails received by inboxes using rules.
  name: InboxForwarderController
- description: Endpoints for managing MissedEmails. Missed emails are saved whenever
    your account cannot persist a received email because your plan had exceeded a
    given usage at the time. Missed emails can be restored with the assistance of
    the support team.
  name: MissedEmailController
- description: A collection of common actions. Groups together several controllers
    behind a facade with convenience methods. Not recommended. It is better in most
    cases to call the individual controllers directly as they are where many new features
    are added. The controllers are better documented too. This controller is maintained
    for backwards compatibility.
  name: CommonActionsController
- description: Endpoints for performing IMAP like commands on inboxes
  name: ImapController
- description: "Endpoints for exporting user data to CSV, XML and other formats."
  name: ExportController
- description: Endpoints for managing SMS
  name: SmsController
- description: Endpoints for managing Templates. Templates can be used when sending
    emails and support moustache syntax template variables. Variables can be passed
    with send email options or implicitly available if Contact Groups are used.
  name: TemplateController
- description: "Endpoints for uploading attachments. Attachments can be uploaded in\
    \ a number of ways: as base64 encoded strings, as byte array octet streams, and\
    \ as multipart form requests. Each upload method returns an array whose first\
    \ element is the ID of the attachment. Use this Id to send the attachment with\
    \ emails. See the EmailController `download` endpoints for downloading attachments.\
    \ Attachment downloads are based on the email ID they belong to and can be downloaded\
    \ using the email controller."
  name: AttachmentController
- description: Endpoints for access to bounced emails and bounced recipients
  name: BounceController
- description: "Endpoint for interacting with webhooks. Webhooks have a URL that points\
    \ to your server. Useful for email forwarding, email API processing and more.\
    \ They can be added to inboxes and when an inbox receives an email the email ID\
    \ and inbox ID will be posted to the URL endpoint at your server. The schema of\
    \ the webhook payload is available at https://csharp.api.mailslurp.com/schemas/webhook-payload\
    \ or by calling https://csharp.api.mailslurp.com/webhooks/test. Use webhooks to\
    \ react in real-time to inbound emails. Use the webhook payload posted to your\
    \ server to fetch the full emails or attachments if you need them. Use the event\
    \ ID as an idempotent record. The ID identifies the webhook payload uniquely.\
    \ MailSlurp tracks webhook processing. It will try not to send the same event\
    \ twice but it can happen. If you receive the same event more than once you can\
    \ ignore it and assume it is the same. It is recommended that you use a store\
    \ or database to track webhooks you have processed to avoid processing events\
    \ more than once."
  name: WebhookController
- description: Endpoints for managing OAuth inbox connections
  name: OAuthConnection
- description: "AI endpoints for generating structured content, automations, and analyzing\
    \ emails and SMS."
  name: AIController
paths:
  /webhooks/{webhookId}/headers:
    put:
      operationId: updateWebhookHeaders
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookHeaders'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: OK
      summary: Update a webhook request headers
      tags:
      - WebhookController
  /templates/{templateId}:
    delete:
      description: Delete template
      operationId: deleteTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete email template
      tags:
      - TemplateController
    get:
      description: Get email template
      operationId: getTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: OK
      summary: Get template
      tags:
      - TemplateController
    put:
      description: Update email template
      operationId: updateTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: Created
      summary: Update template
      tags:
      - TemplateController
  /sms/{smsId}/favourite:
    put:
      operationId: setSmsFavourited
      parameters:
      - description: ID of SMS to set favourite state
        explode: false
        in: path
        name: smsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: favourited
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmsDto'
          description: No Content
      tags:
      - SmsController
  /rulesets:
    delete:
      description: Delete inbox rulesets. Accepts optional inboxId filter.
      operationId: deleteInboxRulesets
      parameters:
      - description: Optional inbox id to attach ruleset to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete inbox rulesets
      tags:
      - InboxRulesetController
    get:
      description: List all rulesets attached to an inbox
      operationId: getInboxRulesets
      parameters:
      - description: Optional inbox id to get rulesets from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional page index in inbox ruleset list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox ruleset list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageInboxRulesetDto'
          description: OK
      summary: List inbox rulesets
      tags:
      - InboxRulesetController
    patch:
      description: Test new inbox ruleset
      operationId: testNewInboxRuleset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestNewInboxRulesetOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test new inbox ruleset
      tags:
      - InboxRulesetController
    post:
      description: "Create a new inbox rule for forwarding, blocking, and allowing\
        \ emails when sending and receiving"
      operationId: createNewInboxRuleset
      parameters:
      - description: Inbox id to attach ruleset to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxRulesetOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetDto'
          description: OK
      summary: Create an inbox ruleset
      tags:
      - InboxRulesetController
    put:
      description: Test inbox rulesets for inbox
      operationId: testInboxRulesetsForInbox
      parameters:
      - description: ID of inbox
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxRulesetTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test inbox rulesets for inbox
      tags:
      - InboxRulesetController
  /repliers/{id}:
    delete:
      description: Delete inbox replier
      operationId: deleteInboxReplier
      parameters:
      - description: ID of inbox replier
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an inbox replier
      tags:
      - InboxReplierController
    get:
      description: Get inbox ruleset
      operationId: getInboxReplier
      parameters:
      - description: ID of inbox replier
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxReplierDto'
          description: OK
      summary: Get an inbox replier
      tags:
      - InboxReplierController
    put:
      description: Update inbox ruleset
      operationId: updateInboxReplier
      parameters:
      - description: ID of inbox replier
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInboxReplierOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxReplierDto'
          description: OK
      summary: Update an inbox replier
      tags:
      - InboxReplierController
  /phone/numbers/{phoneNumberId}:
    delete:
      description: Remove phone number from account
      operationId: deletePhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete a phone number
      tags:
      - PhoneController
    get:
      description: Get a phone number by ID
      operationId: getPhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Get a phone number by ID
      tags:
      - PhoneController
    put:
      description: Set field for phone number
      operationId: updatePhoneNumber
      parameters:
      - description: ID of phone to set favourite state
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Update a phone number
      tags:
      - PhoneController
  /phone/numbers/{phoneNumberId}/favourite:
    put:
      description: Set and return new favorite state for a phone
      operationId: setPhoneFavourited
      parameters:
      - description: ID of phone to set favourite state
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPhoneFavouritedOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Set phone favourited state
      tags:
      - PhoneController
  /inboxes/{inboxId}/favourite:
    put:
      description: Set and return new favorite state for an inbox
      operationId: setInboxFavourited
      parameters:
      - description: ID of inbox to set favourite state
        explode: false
        in: path
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetInboxFavouritedOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: OK
      summary: Set inbox favourited state
      tags:
      - InboxController
  /groups/{groupId}/contacts:
    delete:
      operationId: removeContactsFromGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupContacts'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Remove contacts from a group
      tags:
      - GroupController
    get:
      operationId: getGroupWithContacts
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Get group and contacts belonging to it
      tags:
      - GroupController
    put:
      operationId: addContactsToGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupContacts'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupContactsDto'
          description: OK
      summary: Add contacts to a group
      tags:
      - GroupController
  /forwarders:
    delete:
      description: Delete inbox forwarders. Accepts optional inboxId filter.
      operationId: deleteInboxForwarders
      parameters:
      - description: Optional inbox id to attach forwarder to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete inbox forwarders
      tags:
      - InboxForwarderController
    get:
      description: List all forwarders attached to an inbox
      operationId: getInboxForwarders
      parameters:
      - description: Optional inbox id to get forwarders from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional page index in inbox forwarder list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox forwarder list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageInboxForwarderDto'
          description: OK
      summary: List inbox forwarders
      tags:
      - InboxForwarderController
    patch:
      description: Test new inbox forwarder
      operationId: testNewInboxForwarder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestNewInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderTestResult'
          description: OK
      summary: Test new inbox forwarder
      tags:
      - InboxForwarderController
    post:
      description: "Create a new inbox rule for forwarding, blocking, and allowing\
        \ emails when sending and receiving"
      operationId: createNewInboxForwarder
      parameters:
      - description: Inbox id to attach forwarder to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderDto'
          description: OK
      summary: Create an inbox forwarder
      tags:
      - InboxForwarderController
    put:
      description: Test inbox forwarders for inbox
      operationId: testInboxForwardersForInbox
      parameters:
      - description: ID of inbox
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxForwarderTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderTestResult'
          description: OK
      summary: Test inbox forwarders for inbox
      tags:
      - InboxForwarderController
  /forwarders/{id}:
    delete:
      description: Delete inbox forwarder
      operationId: deleteInboxForwarder
      parameters:
      - description: ID of inbox forwarder
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an inbox forwarder
      tags:
      - InboxForwarderController
    get:
      description: Get inbox forwarder
      operationId: getInboxForwarder
      parameters:
      - description: ID of inbox forwarder
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderDto'
          description: OK
      summary: Get an inbox forwarder
      tags:
      - InboxForwarderController
    put:
      description: Update inbox forwarder
      operationId: updateInboxForwarder
      parameters:
      - description: ID of inbox forwarder
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxForwarderOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxForwarderDto'
          description: OK
      summary: Update an inbox forwarder
      tags:
      - InboxForwarderController
  /emails/{emailId}:
    delete:
      description: Deletes an email and removes it from the inbox. Deleted emails
        cannot be recovered.
      operationId: deleteEmail
      parameters:
      - description: ID of email to delete
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an email
      tags:
      - EmailController
    get:
      description: Returns a email summary object with headers and content. To retrieve
        the raw unparsed email use the getRawEmail endpoints
      operationId: getEmail
      parameters:
      - explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
            application/xml;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
            application/xml; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
      summary: Get email content including headers and body. Expects email to exist
        by ID. For emails that may not have arrived yet use the WaitForController.
      tags:
      - EmailController
    put:
      description: "Send the reply to the email sender or reply-to and include same\
        \ subject cc bcc etc. Reply to an email and the contents will be sent with\
        \ the existing subject to the emails `to`, `cc`, and `bcc`."
      operationId: replyToEmail
      parameters:
      - description: ID of the email that should be replied to
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToEmailOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
      summary: Reply to an email
      tags:
      - EmailController
  /emails/{emailId}/favourite:
    put:
      description: Set and return new favorite state for an email
      operationId: setEmailFavourited
      parameters:
      - description: ID of email to set favourite state
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: favourited
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: No Content
      summary: Set email favourited state
      tags:
      - EmailController
  /domains/{id}:
    delete:
      description: Delete a domain. This will disable any existing inboxes that use
        this domain.
      operationId: deleteDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: No Content
      summary: Delete a domain
      tags:
      - DomainController
    get:
      description: Returns domain verification status and tokens for a given domain
      operationId: getDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: checkForErrors
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
      summary: Get a domain
      tags:
      - DomainController
    put:
      description: Update values on a domain. Note you cannot change the domain name
        as it is immutable. Recreate the domain if you need to alter this.
      operationId: updateDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DomainDto'
          description: OK
      summary: Update a domain
      tags:
      - DomainController
  /connectors/{id}:
    delete:
      operationId: deleteConnector
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an inbox connector
      tags:
      - ConnectorController
    get:
      operationId: getConnector
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConnectorDto'
          description: OK
      summary: Get an inbox connector
      tags:
      - ConnectorController
    put:
      operationId: updateConnector
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConnectorDto'
          description: OK
      summary: Update an inbox connector
      tags:
      - ConnectorController
  /aliases/{aliasId}:
    delete:
      operationId: deleteAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Delete an email alias
      tags:
      - AliasController
    get:
      description: Get an email alias by ID
      operationId: getAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: OK
      summary: Get an email alias
      tags:
      - AliasController
    put:
      operationId: updateAlias
      parameters:
      - explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAliasOptions'
        required: true
      responses:
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AliasDto'
          description: Accepted
      summary: Update an email alias
      tags:
      - AliasController
  /aliases/{aliasId}/emails/{emailId}:
    put:
      description: "Send the reply to the email sender or reply-to and include same\
        \ subject cc bcc etc. Reply to an email and the contents will be sent with\
        \ the existing subject to the emails `to`, `cc`, and `bcc`."
      operationId: replyToAliasEmail
      parameters:
      - description: ID of the alias that email belongs to
        explode: false
        in: path
        name: aliasId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ID of the email that should be replied to
        explode: false
        in: path
        name: emailId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToAliasEmailOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentEmailDto'
          description: OK
      summary: Reply to an email
      tags:
      - AliasController
  /webhooks:
    delete:
      operationId: deleteAllWebhooks
      parameters:
      - description: before
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete all webhooks
      tags:
      - WebhookController
    post:
      description: Get notified of account level events such as bounce and bounce
        recipient.
      operationId: createAccountWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: Created
      summary: Attach a WebHook URL to an inbox
      tags:
      - WebhookController
  /webhooks/{webhookId}/test:
    post:
      operationId: sendTestData
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookTestResult'
          description: Created
      summary: Send webhook test data
      tags:
      - WebhookController
  /webhooks/{webhookId}/schema:
    post:
      description: Get JSON Schema definition for webhook payload
      operationId: getJsonSchemaForWebhookPayload
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JSONSchemaDto'
          description: OK
      tags:
      - WebhookController
  /webhooks/{webhookId}/example:
    post:
      description: Get example payload for webhook
      operationId: getTestWebhookPayloadForWebhook
      parameters:
      - explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractWebhookPayload'
          description: Created
      tags:
      - WebhookController
  /webhooks/verify:
    post:
      description: Verify a webhook payload using the messageId and signature. This
        allows you to be sure that MailSlurp sent the payload and not another server.
      operationId: verifyWebhookSignature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyWebhookSignatureOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VerifyWebhookSignatureResults'
          description: OK
      summary: Verify a webhook payload signature
      tags:
      - WebhookController
  /webhooks/schema:
    post:
      description: Get JSON Schema definition for webhook payload by event
      operationId: getJsonSchemaForWebhookEvent
      parameters:
      - explode: true
        in: query
        name: event
        required: true
        schema:
          enum:
          - EMAIL_RECEIVED
          - NEW_EMAIL
          - NEW_CONTACT
          - NEW_ATTACHMENT
          - EMAIL_OPENED
          - EMAIL_READ
          - DELIVERY_STATUS
          - BOUNCE
          - BOUNCE_RECIPIENT
          - NEW_SMS
          - NEW_GUEST_USER
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JSONSchemaDto'
          description: OK
      tags:
      - WebhookController
  /webhooks/results/{webhookResultId}/redrive:
    post:
      description: Allows you to resend a webhook payload that was already sent. Webhooks
        that fail are retried automatically for 24 hours and then put in a dead letter
        queue. You can retry results manually using this method.
      operationId: redriveWebhookResult
      parameters:
      - description: Webhook Result ID
        explode: false
        in: path
        name: webhookResultId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookRedriveResult'
          description: OK
      summary: Get a webhook result and try to resend the original webhook payload
      tags:
      - WebhookController
  /webhooks/results/redrive:
    post:
      description: Allows you to resend webhook payloads for any recorded webhook
        result that failed to deliver the payload.
      operationId: redriveAllWebhookResults
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookRedriveAllResult'
          description: OK
      summary: Redrive all webhook results that have failed status
      tags:
      - WebhookController
  /waitFor:
    post:
      description: Generic waitFor method that will wait until an inbox meets given
        conditions or return immediately if already met
      operationId: waitFor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForConditions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmailPreview'
                type: array
          description: OK
      summary: Wait for an email to match the provided filter conditions such as subject
        contains keyword.
      tags:
      - WaitForController
  /waitForSms:
    post:
      description: Generic waitFor method that will wait until a phone number meets
        given conditions or return immediately if already met
      operationId: waitForSms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForSmsConditions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/SmsPreview'
                type: array
          description: OK
      summary: Wait for an SMS message to match the provided filter conditions such
        as body contains keyword.
      tags:
      - WaitForController
  /waitForMatchingFirstEmail:
    post:
      description: "Perform a search of emails in an inbox with the given patterns.\
        \ If a result if found then return or else retry the search until a result\
        \ is found or timeout is reached. Match options allow simple CONTAINS or EQUALS\
        \ filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions` object\
        \ for options. An example payload is `{ matches: [{field: 'SUBJECT',should:'CONTAIN',value:'needle'}]\
        \ }`. You can use an array of matches and they will be applied sequentially\
        \ to filter out emails. If you want to perform matches and extractions of\
        \ content using Regex patterns see the EmailController `getEmailContentMatch`\
        \ method."
      operationId: waitForMatchingFirstEmail
      parameters:
      - description: Id of the inbox we are matching an email for
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Max milliseconds to wait
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Optional filter for unread only
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter for emails that were received after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter for emails that were received before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Max milliseconds delay between calls
        explode: true
        in: query
        name: delay
        required: false
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Email'
          description: OK
      summary: Wait for or return the first email that matches provided MatchOptions
        array
      tags:
      - WaitForController
  /waitForMatchingEmails:
    post:
      description: "Perform a search of emails in an inbox with the given patterns.\
        \ If results match expected count then return or else retry the search until\
        \ results are found or timeout is reached. Match options allow simple CONTAINS\
        \ or EQUALS filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions`\
        \ object for options. An example payload is `{ matches: [{field: 'SUBJECT',should:'CONTAIN',value:'needle'}]\
        \ }`. You can use an array of matches and they will be applied sequentially\
        \ to filter out emails. If you want to perform matches and extractions of\
        \ content using Regex patterns see the EmailController `getEmailContentMatch`\
        \ method."
      operationId: waitForMatchingEmails
      parameters:
      - description: Id of the inbox we are fetching emails from
        explode: true
        in: query
        name: inboxId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Number of emails to wait for. Must be greater or equal to 1
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Filter for emails that were received before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter for emails that were received after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Max milliseconds delay between calls
        explode: true
        in: query
        name: delay
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Max milliseconds to wait
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Optional filter for unread only
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmailPreview'
                type: array
          description: OK
      summary: Wait or return list of emails that match simple matching patterns
      tags:
      - WaitForController
  /waitForLatestSms:
    post:
      description: Wait until a phone number meets given conditions or return immediately
        if already met
      operationId: waitForLatestSms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitForSingleSmsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmsDto'
          description: OK
      summary: Wait for the latest SMS message to match the provided filter conditions
        such as body contains keyword.
      tags:
      - WaitForController
  /user/json/pluck:
    post:
      description: Utility function to extract properties from JSON objects in language
        where this is cumbersome.
      operationId: getJsonPropertyAsString
      parameters:
      - description: JSON property name or dot separated path selector such as `a.b.c`
        explode: true
        in: query
        name: property
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - UserController
  /tracking/pixels:
    get:
      description: List tracking pixels in paginated form
      operationId: getAllTrackingPixels
      parameters:
      - description: Optional page index in list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: searchFilter
        required: false
        schema:
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageTrackingPixelProjection'
          description: OK
      summary: Get tracking pixels
      tags:
      - TrackingController
    post:
      description: Create a tracking pixel. A tracking pixel is an image that can
        be embedded in an email. When the email is viewed and the image is seen MailSlurp
        will mark the pixel as seen. Use tracking pixels to monitor email open events.
        You can receive open notifications via webhook or by fetching the pixel.
      operationId: createTrackingPixel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrackingPixelOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TrackingPixelDto'
          description: Created
      summary: Create tracking pixel
      tags:
      - TrackingController
  /tools/lookup-tls-reporting-domain:
    post:
      operationId: lookupTlsReportingDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupTlsReportingDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupTlsReportingDomainResults'
          description: OK
      summary: Lookup a TLS reporting domain policy
      tags:
      - ToolsController
  /tools/lookup-mta-sts-domain:
    post:
      operationId: lookupMtaStsDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupMtaStsDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupMtaStsDomainResults'
          description: OK
      summary: Lookup a MTA-STS domain policy
      tags:
      - ToolsController
  /tools/lookup-dmarc-domain:
    post:
      operationId: lookupDmarcDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupDmarcDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupDmarcDomainResults'
          description: OK
      summary: Lookup a DMARC record policy
      tags:
      - ToolsController
  /tools/lookup-bimi-domain:
    post:
      operationId: lookupBimiDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupBimiDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupBimiDomainResults'
          description: OK
      summary: Lookup a BIMI record policy
      tags:
      - ToolsController
  /tools/generate-tls-reporting-record:
    post:
      operationId: generateTlsReportingRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateTlsReportingRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateTlsReportingRecordResults'
          description: OK
      summary: Create a TLS reporting record policy
      tags:
      - ToolsController
  /tools/generate-mta-sts-record:
    post:
      operationId: generateMtaStsRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMtaStsRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateMtaStsRecordResults'
          description: OK
      summary: Create a TLS reporting record policy
      tags:
      - ToolsController
  /tools/generate-dmarc-record:
    post:
      operationId: generateDmarcRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDmarcRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateDmarcRecordResults'
          description: OK
      summary: Create a DMARC record policy
      tags:
      - ToolsController
  /tools/generate-bimi-record:
    post:
      operationId: generateBimiRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateBimiRecordOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateBimiRecordResults'
          description: OK
      summary: Create a BIMI record policy
      tags:
      - ToolsController
  /tools/fake-email:
    delete:
      description: Delete a fake email address using the fake email domains
      operationId: deleteNewFakeEmailAddress
      parameters:
      - explode: true
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete a fake email address using the fake email domains
      tags:
      - ToolsController
    get:
      description: Get a fake email by its ID
      operationId: getFakeEmailById
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FakeEmailResult'
          description: OK
      summary: Get a fake email by its ID
      tags:
      - ToolsController
    post:
      operationId: createNewFakeEmailAddress
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NewFakeEmailAddressResult'
          description: OK
      summary: Create a new email address using the fake email domains
      tags:
      - ToolsController
  /tools/check-email-features-client-support:
    post:
      operationId: checkEmailFeaturesClientSupport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckEmailFeaturesClientSupportOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckEmailFeaturesClientSupportResults'
          description: OK
      summary: Check email client support for email HTML and CSS features
      tags:
      - ToolsController
  /templates:
    get:
      description: Get all templates
      operationId: getTemplates
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/TemplateProjection'
                type: array
          description: OK
      summary: List templates
      tags:
      - TemplateController
    post:
      description: Create an email template with variables for use with templated
        transactional emails.
      operationId: createTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: Created
      summary: Create a Template
      tags:
      - TemplateController
  /sms/{smsId}/reply:
    get:
      description: Get reply for an SMS message.
      operationId: getReplyForSmsMessage
      parameters:
      - explode: false
        in: path
        name: smsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReplyForSms'
          description: OK
      summary: Get reply for an SMS message
      tags:
      - SmsController
    post:
      description: Reply to an SMS message.
      operationId: replyToSmsMessage
      parameters:
      - explode: false
        in: path
        name: smsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsReplyOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentSmsDto'
          description: OK
      summary: Send a reply to a received SMS message. Replies are sent from the receiving
        number.
      tags:
      - SmsController
  /sms/send:
    post:
      operationId: sendSms
      parameters:
      - description: Phone number to send from in E.164 format
        explode: true
        in: query
        name: fromPhoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: Phone number ID to send from in UUID form
        explode: true
        in: query
        name: fromPhoneId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentSmsDto'
          description: OK
      tags:
      - SmsController
  /sendEmail:
    post:
      description: If no senderId or inboxId provided a random email address will
        be used to send from.
      operationId: sendEmailSimple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleSendEmailOptions'
        required: true
      responses:
        "201":
          description: Created
      summary: Send an email
      tags:
      - CommonActionsController
  /sendEmailQuery:
    post:
      description: If no senderId or inboxId provided a random email address will
        be used to send from. Ensure your parameters are URL encoded.
      operationId: sendEmailQuery
      parameters:
      - description: ID of inbox to send from. If null an inbox will be created for
          sending
        explode: true
        in: query
        name: senderId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Email address to send to
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: string
        style: form
      - description: Body of the email message. Supports HTML
        explode: true
        in: query
        name: body
        required: false
        schema:
          type: string
        style: form
      - description: Subject line of the email
        explode: true
        in: query
        name: subject
        required: false
        schema:
          type: string
        style: form
      responses:
        "201":
          description: Created
      summary: Send an email using query parameters
      tags:
      - CommonActionsController
  /rulesets/{id}/test:
    post:
      description: Test an inbox ruleset
      operationId: testInboxRuleset
      parameters:
      - description: ID of inbox ruleset
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxRulesetTestOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxRulesetTestResult'
          description: OK
      summary: Test an inbox ruleset
      tags:
      - InboxRulesetController
  /rulesets/test-sending:
    post:
      description: Test whether outbound emails to an email address would be blocked
        or allowed by inbox rulesets
      operationId: testInboxRulesetSending
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestInboxRulesetSendingOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TestInboxRulesetSendingResult'
          description: OK
      summary: Test sending with inbox rulesets
      tags:
      - InboxRulesetController
  /rulesets/test-receiving:
    post:
      description: Test whether inbound emails from an email address would be blocked
        or allowed by inbox rulesets
      operationId: testInboxRulesetReceiving
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestInboxRulesetReceivingOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TestInboxRulesetReceivingResult'
          description: OK
      summary: Test receiving with inbox rulesets
      tags:
      - InboxRulesetController
  /repliers:
    delete:
      description: Delete inbox repliers. Accepts optional inboxId filter.
      operationId: deleteInboxRepliers
      parameters:
      - description: Optional inbox id to attach replier to
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "204":
          description: No Content
      summary: Delete inbox repliers
      tags:
      - InboxReplierController
    get:
      description: List all repliers attached to an inbox
      operationId: getInboxRepliers
      parameters:
      - description: Optional inbox id to get repliers from
        explode: true
        in: query
        name: inboxId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optional page index in inbox replier list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in inbox replier list pagination
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Filter by created at after the given timestamp
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by created at before the given timestamp
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageInboxReplierDto'
          description: OK
      summary: List inbox repliers
      tags:
      - InboxReplierController
    post:
      description: "Create a new inbox rule for reply toing, blocking, and allowing\
        \ emails when sending and receiving"
      operationId: createNewInboxReplier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboxReplierOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxReplierDto'
          description: OK
      summary: Create an inbox replier
      tags:
      - InboxReplierController
  /phone:
    post:
      description: Create new phone number
      operationId: createPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePhoneNumberOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberDto'
          description: OK
      summary: Add phone number to your account. Only works if you have already added
        a plan and an initial phone number in your account and acknowledged the pricing
        and terms of service by enabling API phone creation.
      tags:
      - PhoneController
  /phone/validate:
    post:
      description: Validate a phone number
      operationId: validatePhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePhoneNumberOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PhoneNumberValidationDto'
          description: OK
      summary: Verify validity of a phone number
      tags:
      - PhoneController
  /phone/numbers/{phoneNumberId}/webhooks:
    post:
      description: Get notified whenever a phone number receives an SMS via a WebHook
        URL.
      operationId: createWebhookForPhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookOptions'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookDto'
          description: Created
      summary: Attach a WebHook URL to a phone number
      tags:
      - WebhookController
  /phone/numbers/{phoneNumberId}/test:
    post:
      description: Test a phone number by sending an SMS to it
      operationId: testPhoneNumberSendSms
      parameters:
      - explode: false
        in: header
        name: x-test-id
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestPhoneNumberOptions'
        required: true
      responses:
        "200":
          description: OK
      summary: Test sending an SMS to a number
      tags:
      - PhoneController
  /phone/numbers/{phoneNumberId}/sms:
    get:
      description: Get SMS messages for a phone number
      operationId: getSmsByPhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Optional page index in SMS list pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: Optional page size in SMS list pagination. Maximum size is 100.
          Use page index and sort to page through larger results
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional filter for unread SMS only. All SMS are considered unread
          until they are viewed in the dashboard or requested directly
        explode: true
        in: query
        name: unreadOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Optional filter SMSs received after given date time
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional filter SMSs received before given date time
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional search filter
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Optionally filter results for favourites only
        explode: true
        in: query
        name: favourite
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageSmsProjection'
          description: OK
      summary: List SMS messages for a phone number
      tags:
      - PhoneController
    post:
      description: Send SMS from a phone number
      operationId: sendSmsFromPhoneNumber
      parameters:
      - explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentSmsDto'
          description: OK
      summary: Send TXT message from a phone number
      tags:
      - PhoneController
  /phone/emergency-addresses:
    get:
      description: List emergency addresses
      operationId: getEmergencyAddresses
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/EmergencyAddressDto'
                type: array
          description: OK
      summary: Get emergency addresses
      tags:
      - PhoneController
    post:
      description: Add an emergency address to a phone number
      operationId: createEmergencyAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmergencyAddressOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmergencyAddress'
          description: OK
      summary: Create an emergency address
      tags:
      - PhoneController
  /phone/consent:
    get:
      description: Get the status of phone usage consent
      operationId: getConsentStatus
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConsentStatusDto'
          description: OK
      summary: Get consent status
      tags:
      - PhoneController
    post:
      description: Give or revoke consent for phone usage
      operationId: setConsentStatus
      parameters:
      - explode: true
        in: query
        name: agree
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConsentStatusDto'
          description: OK
      summary: Set consent status
      tags:
      - PhoneController
  /oauth-connection:
    post:
      description: Configure an inbox for OAuth sync with MailSlurp
      operationId: createOAuthConnection
      parameters:
      - explode: true
        in: query
        name: redirectBase
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oAuthConnectionType
        required: true
        schema:
          enum:
          - GOOGLE
          - MICROSOFT
          type: string
        style: form
      - explode: true
        in: query
        name: emailAddress
        required: false
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateOAuthConnectionResult'
          description: Created
      summary: Create an OAuth connection
      tags:
      - OAuthConnection
  /oauth-connection/oauth-exchange/google:
    post:
      description: Exchange an OAuth code for an access token and create an inbox
        connection in MailSlurp
      operationId: exchangeAuthorizationTokenAndCreateOrUpdateInbox
      parameters:
      - explode: true
        in: query
        name: authorizationCode
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: redirectUri
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateOAuthExchangeResult'
          description: Created
      summary: Exchange authorization code for access token and create inbox
      tags:
      - OAuthConnection
  /newEmailAddress:
    post:
      description: Returns an Inbox with an `id` and an `emailAddress`
      operationId: createNewEmailAddress
      parameters:
      - explode: true
        in: query
        name: allowTeamAccess
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: useDomainPool
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: expiresAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: expiresIn
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: emailAddress
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: inboxType
        required: false
        schema:
          description: Type of inbox. HTTP inboxes are faster and better for most
            cases. SMTP inboxes are more suited for public facing inbound messages
            (but cannot send).
          enum:
          - HTTP_INBOX
          - SMTP_INBOX
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: favourite
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: virtualInbox
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: useShortAddress
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: domainName
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: domainId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InboxDto'
          description: Created
      summary: Create new random inbox
      tags:
      - CommonActionsController
  /missed-emails/restore:
    post:
      description: If emails were missed due to a plan limit they are saved as missed
        emails. If support team enables the canRestore flag these emails can be reload
        into your account using this method.
      operationId: restoreMissedEmails
      responses:
        "200":
          description: OK
      summary: Restore missed emails
      tags:
      - MissedEmailController
  /mail-server/verify/email-address:
    post:
      deprecated: true
      operationId: verifyEmailAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailAddressOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmailVerificationResult'
          description: OK
      summary: Deprecated. Use the EmailVerificationController methods for more accurate
        and reliable functionality. Verify the existence of an email address at a
        given mail server.
      tags:
      - MailServerController
  /mail-server/describe/ip-address:
    post:
      operationId: getIpAddress
      parameters:
      - explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IPAddressResult'
          description: OK
      summary: Get IP address for a domain
      tags:
      - MailServerController
  /mail-server/describe/domain:
    post:
      operationId: describeMailServerDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeDomainOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeMailServerDomainResult'
          description: OK
      summary: Get DNS Mail Server records for a domain
      tags:
      - MailServerController
  /mail-server/describe/dns-lookups:
    post:
      operationId: getDnsLookups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DNSLookupsOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DNSLookupResults'
          description: OK
      summary: Lookup DNS records for multiple domains
      tags:
      - MailServerController
  /mail-server/describe/dns-lookup:
    post:
      operationId: getDnsLookup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DNSLookupOptions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DNSLookupResults'
          description: OK
      summary: Lookup DNS records for a domain
      tags:
      - MailServerController
  /inboxes:
    delete:
      description: "Permanently delete all inboxes and associated email addresses.\
        \ This will also delete all emails within the inboxes. Be careful as inboxes\
        \ cannot be recovered once deleted. Note: deleting inboxes will not impact\
        \ your usage limits. Monthly inbox creation limits are based on how many inboxes\
        \ were created in the last 30 days, not how many inboxes you currently have."
      operationId: deleteAllInboxes
      responses:
        "204":
          description: No Content
      summary: Delete all inboxes
      tags:
      - InboxController
    get:
      deprecated: true
      description: List the inboxes you have created. Note use of the more advanced
        `getAllInboxes` is recommended and allows paginated access using a limit and
        sort parameter.
      operationId: getInboxes
      parameters:
      - description: Optional result size limit. Note an automatic limit of 100 results
          is applied. See the paginated `getAllEmails` for larger queries.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          type: integer
        style: form
      - description: Optional createdAt sort direction ASC or DESC
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Optional filter by created after given date time
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional exclude catch all inboxes
        explode: true
        in: query
        name: excludeCatchAllInboxes
        required: false
        schema:
          type: boolean
        style: form
      - description: Optional filter by created before given date time
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional inboxIds to include in result
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/InboxDto'
                type: array
          description: OK
      summary: List Inboxes and email addresses
      tags:
      - InboxController
    post:
      description: 'Create a new inbox and with a randomized email address to send
        and receive from. Pass emailAddress parameter if you wish to use a specific
        email address. Creating an inbox is required before sending or receiving emails.
        If writing tests it is recommended that you create a new inbox during each
        test method so that it is unique and empty. '
      operationId: createInbox
      parameters:
      - description: A custom email address to use with the inbox. Defaults to null.
          When null MailSlurp will assign a random email address to the inbox such
          as `123@mailslurp.com`. If you use the `useDomainPool` option when the email
          address is null it will generate an email address with a more varied domain
          ending such as `123@mailslurp.info` or `123@mailslurp.biz`. When a custom
          email address is provided the address is split into a domain and the domain
          is queried against your user. If you have created the domain in the MailSlurp
          dashboard and verified it you can use any email address that ends with the
          domain. Note domain types must match the inbox type - so `SMTP` inboxes
          will only work with `SMTP` type domains. Avoid `SMTP` inboxes if you need
          to send emails as they can only receive. Send an email to this address and
          the inbox will receive and store it for you. To retrieve the email use the
          Inbox and Email Controller endpoints with the inbox ID.
        explode: true
        in: query
        name: emailAddress
        required: false
        schema:
          type: string
        style: form
      - description: Tags that inbox has been tagged with. Tags can be added to inboxes
          to group different inboxes within an account. You can also search for inboxes
          by tag in the dashboard UI.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional name of the inbox. Displayed in the dashboard for easier
          search and used as the sender name when sending emails.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Optional description of the inbox for labelling purposes. Is
          shown in the dashboard and can be used with
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: "Use the MailSlurp domain name pool with this inbox when creating\
          \ the email address. Defaults to null. If enabled the inbox will be an email\
          \ address with a domain randomly chosen from a list of the MailSlurp domains.\
[...]
